<div class="widget ad card">
  <div class="card-header">
    <i class="fas fa-star"></i>
    <h4 class="widget-title"><u>好物推荐</u></h4>
  </div>
  <div class="card-body">
    <p class="ad-text"><a href="https://u.jd.com/TD5fHWT" target="_blank" rel="nofollow noopener noreferrer">小洁匠选德国精工电动剃须刀男士2025新款刮胡子刀迷你便携不留黑点小钢炮 德国新升级-16代【亮银色】7w转速续航240天 当次日达丨百万热销丨干湿两剃丨不留黑点丨全身水洗
</a></p>
    <a href="https://u.jd.com/TD5fHWT" target="_blank" rel="nofollow noopener noreferrer" class="ad-image-link">
      <img src="/img/ad/mmexport1763048442648.jpg" alt="德国精工电动剃须刀" class="ad-image">
    </a>
    </div>
</div>

<div class="widget ad card">
  <div class="card-header">
    <i class="fas fa-star"></i>
    <h4 class="widget-title"><u>好物推荐</u></h4>
  </div>
  <div class="card-body">
    <p class="ad-text"><a href="https://u.jd.com/Ta5Ecs8" target="_blank" rel="nofollow noopener noreferrer">刺猬阿甘零食大礼包酥脆解馋送礼追剧零食小吃 混合口味400g1箱</a></p>
    <a href="https://u.jd.com/Ta5Ecs8" target="_blank" rel="nofollow noopener noreferrer" class="ad-image-link">
      <img src="/img/ad/mmexport1763048983196.jpg" alt="刺猬阿甘零食" class="ad-image">
    </a>
    </div>
</div>
