<div class="widget ad card">
  <div class="card-header">
    <i class="fas fa-star"></i>
    <h4 class="widget-title"><u>好物推荐</u></h4>
  </div>
  <div class="card-body">
    <p class="ad-text"><a href="https://u.jd.com/gaJLaf1" target="_blank" rel="nofollow noopener noreferrer">华为家庭存储16TB 手机一碰扩容 双盘位nas网络存储器相册备份家用硬盘网盘私有云服务器</a></p>
    <a href="https://u.jd.com/gaJLaf1" target="_blank" rel="nofollow noopener noreferrer" class="ad-image-link">
      <img src="/img/ad/mmexport1746280491663s.jpg" alt="华为存储" class="ad-image">
    </a>
    </div>
</div>

<div class="widget ad card">
  <div class="card-header">
    <i class="fas fa-star"></i>
    <h4 class="widget-title"><u>好物推荐</u></h4>
  </div>
  <div class="card-body">
    <p class="ad-text"><a href="https://u.jd.com/gDJwfrV" target="_blank" rel="nofollow noopener noreferrer">极空间私有云Z2Pro 四核双盘位NAS网络存储智能AI个人云硬盘家庭服务器 手机PC平板扩容 水墨黑</a></p>
    <a href="https://u.jd.com/gDJwfrV" target="_blank" rel="nofollow noopener noreferrer" class="ad-image-link">
      <img src="/img/ad/mmexport1746281317183s.jpg" alt="极空间存储" class="ad-image">
    </a>
    </div>
</div>
