{{- if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<div class="pagination">
    {{- if .Paginator.HasPrev }}
    <a class="pagination__item pagination__item--first btn" href="{{ .Paginator.First.URL }}">&lt;&lt;</a>
    <a class="pagination__item pagination__item--prev btn" href="{{ .Paginator.Prev.URL }}">&lt;</a>
    {{- else }}
    <span class="pagination__item pagination__item--first btn disabled">&lt;&lt;</span>
    <span class="pagination__item pagination__item--prev btn disabled">&lt;</span>
    {{- end }}

    {{- range $index, $page := $.Paginator.Pagers }}
    {{- if eq $page.PageNumber $.Paginator.PageNumber }}
    <span class="pagination__item pagination__item--current btn">{{ $page.PageNumber }}</span>
    {{- else }}
    <a class="pagination__item pagination__item--page btn" href="{{ $page.URL }}">
        {{- $page.PageNumber -}}
    </a>
    {{- end }}
    {{- end }}

    {{- if .Paginator.HasNext }}
    <a class="pagination__item pagination__item--next btn" href="{{ .Paginator.Next.URL }}">&gt;</a>
    <a class="pagination__item pagination__item--last btn" href="{{ .Paginator.Last.URL }}">&gt;&gt;</a>
    {{- else }}
    <span class="pagination__item pagination__item--next btn disabled">&gt;</span>
    <span class="pagination__item pagination__item--last btn disabled">&gt;&gt;</span>
    {{- end }}
</div>
{{- end }}